<div class="row item">
  <h2>Video App </h2>
  <ul class="videos">
    <li *ngFor="let video of videos" (click)="onSelect(video)">           
      <a
      href="https://www.youtube.com/watch?v={{ video.id.videoId }}"
      target="_blank"
      >
      <img
      [src]="video.snippet.thumbnails.medium.url"
      class="card-img-top"
      alt="..."
      /></a>
    </li>
  </ul>
</div>

<!-- </div>
  <button (click)="setUrl('https://www.youtube.com/watch?v' + video.id.videoId)">Set URL</button>
</div> -->